.inputBar {
    padding : 35px ;
    border-radius: 10px;
    border-style: solid;
    margin-top: 20%;
    background-color: aliceblue ;
    /* border-width: 50%; */
}

input {
    width: 30%;
    height : 30px;   
    text-indent: 1%;
    margin-left: 20%;
}

button {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: aqua;
}