/* Stylesheet */

body{
    /* To stop the overflow of the content on to the X-axis */
    overflow-x: hidden;   
    background-color:aliceblue;
}

img{   
    height: 30vh;
    width: 100%;
    margin-top: 15px;
}

.Parent {
    display: flex;
    flex-direction: row;
}

.child1 {
    width: 50%;
    height: 3vh;
    text-align: left;
    color: black;
    margin-left: 10%;
}

.child2 {
    width: 50%;
    height: 70vh;
    margin-top: 2%;
}

a{
    text-decoration: none;
}

div p{
    width: 70%;
}

.Subscribe{
    display: flex;
    flex-direction: column;        
}

input{
    width: 100px;
}

button{
    margin-top:10px;
    margin-bottom: 10px; 
    margin-left: 90px ;
    background-color: red;
    color: white;
}

button:hover{
    background-color: blue;
}